<p>こんにちは <%= @resource.name %>さん</p>

<p>パスワード変更のリクエストがありました。以下のリンクをクリックしてパスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールを無視してください。リンクをクリックしない限り、パスワードは変更されません。</p>
